<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<ul class="navbar-nav navbar-expand-md navbar-light bg-light justify-content-end">

    <li class="nav-item px-2 py-2  ml-md-auto horizontal">
<form action="/prev/">
    <button class = 'btn btn-link btn-lg' type="submit">Posts</button>
</form>
      </li>

                <li class="nav-item px-2 py-2 ">
<form action="/contact/">
    <button class = 'btn btn-link btn-lg' type="submit">contact</button>
</form>

        <li class="nav-item px-2 py-2">
<form action="/login/">
    <button class = 'btn btn-link btn-lg' type="submit">login</button>
</form>
  </li>



  </li>


</ul>


{% block head %}

{% endblock %}
